.visible-false {
  display: none;
}

.flex_center {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_row {
  flex-direction: row;
}

.container {
  margin-top: 10%;
}

.filters button {
  width: 40%;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid;
  opacity: 0.2;
  height: 60px;
  transition: opacity 0.3s;
}

.filters button.active {
  opacity: 1;
}

.todo {
  margin: 10px;
}

input {
  border: 0;
  font-size: 1.2em;
  margin-left: 15px;
}

.newtodo {
  margin-top: 10%;
}

.newtodo input {
  font-size: 1.4em;
}

@media only screen and (max-width: 480px) {
  .filters {
    width: 100%;
  }
}
